---
import MainLayout from '@/layouts/main-layout.astro'
import { AuthForm } from '@/components/auth-form'

// Check if user is already logged in
if (Astro.locals.session) {
  return Astro.redirect('/app')
}
---

<MainLayout title="Login to SpotSpot">
  <div class="flex h-full items-center justify-center">
    <AuthForm
      type="login"
      client:load
    />
  </div>
</MainLayout>
